@page
@model IndexModel
@{
    ViewData["Title"] = "Bleakwind Buffet";
}
<h1>@ViewData["Title"]</h1> <!--This is the page title-->
<!--This is a paragraph entry at beginning of page-->
<p>
    We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight
    from the world of Skyrim. Shake the blood off your sword and sake your thirst with one
    of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger.
    Or vanquish the the mighty Thalmor Triple Burger!
    You’ve had a hard adventure and earned your loot, so spend it with us!
</p>

<form>
    <div class="row">
        <div class="columnThird">
            <div id="search">
                <!--This came from the Web Data Exercise-->
                <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
                <input type="submit" value="Search">
            </div>
        </div>
        <div class="columnThird">
            <div>
                <h4>Food Types</h4>
                @foreach (String foodType in Menu.FoodTypes)
                {
                    <label>
                        <input type="checkbox" name="FoodTypes" value="@foodType" checked="@Model.FoodTypes.Contains(foodType)" />
                        @foodType
                    </label>
                }
            </div>
        </div>
        <div class="columnThird">
            <h4>Calories</h4>
            <div>
                Between
                <input name="CaloriesMin" type="number" min="0" max="2000" step="10" placeholder="min" value="@Model.CaloriesMin" />
                and
                <input name="CaloriesMax" type="number" min="0" max="2000" step="10" placeholder="max" value="@Model.CaloriesMax" />
            </div>
            <h4>Prices</h4>
            <div>
                Between $
                <input name="PricesMin" type="number" min="0" max="20.00" step="0.01" placeholder="min" value="@Model.PricesMin" />
                and $
                <input name="PricesMax" type="number" min="0" max="20.00" step="0.01" placeholder="max" value="@Model.PricesMax" />
            </div>
        </div>


    </div>
    <div class="row">
            <!--This sets up a row of columns-->
            <!--First column on left holds entrees and sides-->
            <div class="columnThird">
                <h2> Entrees </h2>
                <div class="menu-item">
                    @foreach (Entree food in Model.DisplayedEntrees)
                    {
                        <ul class="menu-list">

                            <li>@food.ToString()</li>
                            <li>Price: $@food.Price</li>
                            <li>Calories: @food.Calories</li>
                        </ul>
                        <p>@food.Description</p>
                    }
                </div>
            </div>
            <div class="columnThird">
                <h2> Sides </h2>
                <div class="menu-item">
                    @foreach (Side food in Model.DisplayedSides)
                    {
                        <ul class="menu-list">

                            <li>@food.ToString()</li>
                            <li>Price: $@food.Price</li>
                            <li>Calories: @food.Calories</li>


                        </ul>

                        @if (food.Size == Size.Large)
                        {
                            <p>@food.Description</p>
                            <br />
                        }

                    }
                </div>
            </div>
            <!--2nd column on right containing drinks and soda flavors-->
            <div class="columnThird">
                <!--a foreach loop looping through all the Drinks from menu.cs and displaying them
            in an unorder list-->
                <h2> Drinks </h2>
                <div class="menu-item">
                    @foreach (Drink food in Model.DisplayedDrinks)
                    {
                        <ul class="menu-list">

                            <li>@food.ToString()</li>
                            <li>Price: $@food.Price</li>
                            <li>Calories: @food.Calories</li>


                        </ul>

                        @if (food.Size == Size.Large)
                        {
                            <p>@food.Description</p>
                            <br />
                        }
                    }
                </div>
                <!--a foreach loop looping through all the SodaFlavors from menu.cs and displaying them
            in an unorder list-->
                <h2> Soda Flavors </h2>
                <div class="menu-item">
                    @foreach (SodaFlavor food in Menu.DrinksSodaFlavors())
                    {
                        <ul class="menu-list">

                            <li>@food.ToString()</li>
                        </ul>

                    }
                </div>
            </div>
        </div>
        <!--This makes another row with 1 column for listing the combos-->
        <div class="row">
            <div class="columnFull">
                <h2> Make it a Combo! $1 Discount </h2>
                <div class="menu-item">
                    <!--a foreach loop looping through all the ComboOrders from menu.cs and displaying them
                in an unorder list-->
                    @foreach (ComboOrder food in Menu.ComboExamples())
                    {
                        <ul class="combo-list">

                            <li>@food.Entree</li>
                            <li>@food.Side</li>
                            <li>@food.Drink</li>
                            <li>Price: $@food.Price</li>
                            <li>Calories: @food.Calories</li>
                        </ul>

                    }
                </div>
            </div>
        </div>
</form>
